<% include ./partials/header %> 

<div class="ui main text container">
    <h1>Login!</h1>
    <form class="ui form" action="/login" method="POST">
        <div class="field">
        <input type="text" name="username" placeholder="username">
        </div>
        <div class="field">
        <input type="password" name="password" placeholder="password">
        </div>
        <input class = "button" type="submit" value="Login!">
    </form>
</div>

<% include ./partials/footer %> 