.thumbnail {
	display: inline-block;
}

.thumbnail img {
    height:250px;
    width:100%;
}

.center {
	text-align:center;	
}

.login-form {
	max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}