    
        <br/><br/>
        <div id = "footer">
              <!--<center>-->
              <!--   <p>Copyright © 2016</p>-->
              <!--</center>-->
        </div>
        <script src="/js/myScript.js"></script>
    </body>
</html>